body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    color: white;
}

#menu {
    text-align: center;
}

.page {
    display: none;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

#content {
    display: none;
}

#game {

    min-height: 100vh;
    min-width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


    #game h1 {
        text-align: center;
        font-weight: 700;
        font-size: 50px;
        }

    #game p {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
    }

    #game .actions {
        display: flex;
        justify-content: center;
    }

    #game .actions button {
        padding: 8px 16px;
        font-size: 30px;
        border-radius: 10px;
        background-color: #3498db;
        color: white;
        border: none;
    }

    #game .grid-container {
        display: grid;
        justify-content: center;
        grid-gap: 16px;
        grid-template-columns: repeat(5, 140px);
        grid-template-rows: repeat(4, 140px);
    }

    #game .card {
        height: 140px;
        width: 140px;
        border-radius: 10px;
        background-color: white;
        position: relative;
        transform-style: preserve-3d;
        transition: all 0.5s ease-in-out;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
    }


    #game .card.flipped {
        transform: rotateY(180deg);
    }

    #game .front,
    #game .back {
        backface-visibility: hidden;
        position: absolute;
        border-radius: 10px;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #game .card .front {
        transform: rotateY(180deg);
        z-index: 2;
    }

    #game .card .back {
        background-image: url("/images/pattern_flower-6_1_2_0-0_0_1__2a2a30_ecc94b.png");
        background-position: center center;
        background-size: cover;
        backface-visibility: hidden;
    }



